<!DOCTYPE html>
<html lang="en" ng-app="datagridapp">
<head>
    <meta charset="UTF-8">
    <title>datagrid</title>
</head>
<body>
<div ng-controller="datagridcontroller">
    {{name}}<br>
    数据绑定:ng-model:<input type="text" name="name" ng-model="ng_model"/>,{{ng_model}}<br>
    循环ng-repeat:
    <div><span ng-repeat="item in items">{{item}},</span></div>
    ng-click,和angularjs.copy联合使用:{{user}},{{member}}
    <input type="button" value="按钮" ng-click="angularcode()"/><br>

    <div baidu="google">google</div>
    <div baidu="baidu">baidu</div>
    <div baidu="bwin">bwin</div>
    <div>
        <hello>hello</hello>
    </div>
    <div class="well container">

        <table class="table">
            <thead>
            <tr class="danger">
                <td>id</td>
                <td>名称</td>
                <td>性别</td>
                <td>年龄</td>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <td>666</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="active">
                <td>666</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr class="warning">
                <td>666</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>